.poll-form {
  fieldset,
  .poll-question-essay {
    border: 1px solid $border;
    border-radius: $global-radius;
    padding: $line-height;
  }

  fieldset + *,
  .poll-question-essay + * {
    margin-top: calc($line-height / 2);
  }

  legend {
    @include header-font-size(h3);
    float: $global-left;
    margin-bottom: 0;

    + * {
      clear: $global-left;
    }
  }


  label {
    @include radio-or-checkbox-and-label-alignment;
    font-weight: normal;

    &:first-of-type::before {
      content: "\A";
      margin-top: calc($line-height / 2);
      white-space: pre;
    }
  }

  .poll-question-essay {
    label {
      @include header-font-size(h3);
      font-weight: bold;
      line-height: 1.5;
    }

    textarea {
      margin-top: calc($line-height / 2);
    }
  }

  .help-text {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
  }

  .read-more-links {
    margin-top: calc($line-height / 2);

    * {
      margin-bottom: 0;
    }

    * + * {
      margin-top: calc($line-height / 4);
    }
  }

  [type=submit] {
    margin-top: calc($line-height * 3 / 4);
  }
}
